h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

h2{
    color: blue;
}
.container{
    background-color: pink;
}

div h2{
    font-style: italic;
    text-align: center;
}

div p{
    color: white;
    text-align: center;
}

ul.list > li{
    list-style: none;
    border: solid;
}

div::first-letter{
color: red;
font-size: 120%;
}

li>a:visited{
    color: green;
}

li>a:hover{
    color: red;
    background-color: yellow;
}

li:first-child::first-letter{
    
    size: 120%;
    font-weight: bold;
    background-color: aquamarine;

}


a[href*="https://bcit.ca"]{
    background-color: yellow;
}

img{
    float: left;
    margin-right: 20px;
}
img>p{
    
}
.below{
    clear: left;
}


.target {
    width:auto50px;
    height:50px;
    background-color: forestgreen;
    position:absolute;
    top: 0px;
    right: 0px;
}